<header class="site-header" role="banner">

  <h1 id="logo"><a href="https://instagram.com/ichongiribc">Chie.</a> <small>v.0.1<br>beta</small></h1>
  
  <p>My name is <a href="https://uk.linkedin.com/in/ichongiric">Chiemezie Ichongiri</a> and this is my personal site -- <span>which currently doesn't offer much but might someday metamorphose into a blog or something...</span></p>

  <p>I currently work as a Frontend Web Developer in Norwich, England, with a focus on...</p>


  <!-- <div class="wrapper"> -->
    <!-- <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a> -->

    <!-- <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <span>{{ paginator.page }}</span>
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav> -->
  <!-- </div> -->

</header>
