<header class="site-header" role="banner">

  <h1 id="logo"><a href="https://instagram.com/chiichgram" title="Short form of my full name - takes you to my Instagram page">Chie.</a></h1>
  
    <p class="intro"><strong>Welcome</strong></p>
  
  <p>My name is <a href="https://uk.linkedin.com/in/ichongiric" title="My full name - takes you to my Linkedin profile page">Chiemezie Ichongiri</a> and I currently work as a Frontend Web Developer in Norwich, England.</p>

  <p>Here's a brief on me...</p>

  <!-- <div class="wrapper"> -->
    <!-- <a class="site-title" href="{{ "/" | relative_url}}">{{ site.title | escape }}</a> -->

    <!-- <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <span>{{ paginator.page }}</span>
          <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav> -->
  <!-- </div> -->

</header>
