html {
  box-sizing: border-box;
  // font-size: 62.5%;
}

body {
  background-color: #DDDDDD;
  padding: 5px;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

::-moz-selection {
      background: #FFC600;
}

::selection {
      background: #FFC600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Abril Fatface", serif;
  margin: 0;
}

.inner {
  padding: 15px;
  padding-bottom: 0;
}

.footer-area p {
  text-align: center;
  color: #999;
  font-size: 1rem;

  padding-top: 30px;
}

  img {
      max-width: 100%;
  }

  p {

  font-size: 1.2rem;

      &.intro {
          font-size: 1rem;
      }
  }

.container {
  background-color: white;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  
  > .row {
    height: 480px;
  }
}
.cursive {
  font-family: 'Dr Sugiyama', cursive;
  // font-family: 'Princess Sofia', cursive;
  // font-family: 'Dekko', cursive;
  // font-family: 'Waiting for the Sunrise', cursive;
  // font-family: 'Merienda One', cursive;
  // font-family: 'Kaushan Script', cursive;
  // font-family: 'Charmonman', cursive;
  // font-family: 'Pacifico', cursive;
  
  // https://css-tricks.com/svg-text-typographic-designs/
}
h1 {
  // border-bottom: 3px solid #DDDDDD;
  margin: 0;
  padding: 0 0 15px 0;
  
  &.cursive {
    font-size: 3rem;
  }
}

h2 {
  font-size: calc(1.5rem * 0.835);
  
  &.cursive {
    font-size: 2rem;
    letter-spacing: 2px;
  }
}

.wrap {
  position: relative;

  ul, ol {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 100%;
    width: 100%;
    /* margin-right: 15px; */
    background-color: whitesmoke;
    display: none;
  }
  
  h2 {
    border-bottom: 1px solid;
    
    &:hover {
      cursor: pointer;
      /* border-color: inherit; */
    }
    
    + ul.active,
    + ol.active {
     display: initial; 
    }
  }
}

.main-img {
  background-color: whitesmoke;
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-size: cover;
  background-image: url('/assets/images/214808-20171105-180x450.jpg');
}

.row {
  display: table; /* Make the container element behave like a table */
  width: 100%; /* Set full-width to expand the whole page */
  /* position: relative; */
}

.two-thirds {
  // display: block;
  // float: left;
  width: 67%;

}

.one-third {
  // display: block;
  // float: left;
  width: 33%;
}

.two-thirds,
.one-third {
  margin: 0;
  padding: 0;
  position: relative;
  display: table-cell; /* Make elements inside the container behave like table cells */
  vertical-align: top;

  // font-size: 16px;

  a:link,
  a:visited {
      color: black;
      color: inherit;
      border-bottom-color: inherit;
  }

  a:hover {
      color: black;
      font-weight: bold;
  }
}



.blue {
  h2 {
    color: #344564;
   color: #008CBA;
   color: #1b6ac9;
  }
  ul, ol {
    border-color: #1b6ac9;
  }

}

.yellow {
  h2 {
    color: #ffe9a8;
  }

  ul, ol {
    border-color: #ffe9a8;
  }
  a:link,
  a:visited {
     /* color: #666; */
  }

}

.green {
  h2 {
    color: #2da562;
    color: #177960;
  }

  ul, ol {
    border-color: #177960;
  }

  &::after {
      /*
      content: 'coming soon';
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-transform: uppercase;
      color: #f6ba52;
      font-size: 1.2rem;
      font-weight: bold;
      border-top:  1px solid white;
      padding-top: 7.5px;
      */
  }


  img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.25;
  }

}

.purple {
  h2 {
    color: #725ead;
  }
  ul, ol {
    border-color: #725ead;
  }
}

.red {
  h2 {
    color: #d4442e;
    color: #905;
    color: #ff4564;
  }

  ul, ol {
    border-color: #ff4564;
  }
}

.grey {
  h2 {
    color: #596568;
  }

  ul,ol {
    border-color: #596568;
  }
}


.green,
.grey,
.red,
.purple,
.yellow,
.blue {
  background-color: white;
  color: initial;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

  ol,ul {
      list-style-type: none;

      padding: 0px;
      margin: 0px;
      border-top: 15px solid transparent;
      padding-top: 22.5px;
  }

  li {
      margin-bottom: 15px;

      &.brief {
          position: relative;

          line-height: 1.65;

          &::before {
              content: '#';
              position: absolute;
              width: 15px;
              height: 15px;
              text-align: center;
              right: calc(100% - 22.5px);

              font-size: 1rem;
              // color: #888;
          }

          padding: 0 30px 0 30px;
          // color: #f1f0ce;
          // background-color: #ffe9a8;

          span {
              display: block;
              /* color: #bbb; */
              font-style: italic;
              font-size: 65%;
          }
      }
  }


figure {
  text-align: center;
  margin: 0;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 0 5px 0;

    outline: 3px solid #f1f0ea;
    width: 300px;

  }

  figcaption {
      font-style: italic;
      background-color: #d3d3d4;
      background-color: #008CBA;
      background-color: #596568;
      color: #ddd;

      margin: 0 auto;

      width: 300px;
      outline: 3px solid #f1f0ea;
  }
}

p span {
    font-size: 0.9rem;
    color: #888;
    font-style: italic;
}

#logo {
  position: relative;
  small {
      font-size: 0.8rem;
      position: absolute;
      top: 15px;
      right: 15px;
  }
}

a:link,
a:visited {
    text-decoration: none ;
    border-bottom: 1px dotted black;
    color: #666;
}

a:hover {
    color: black;
    border-bottom: 2px solid black;
}

  a:focus {
      color: #362A00 !important;
      background-color: #FFC600;
      outline: #FFC600 solid 3px;
      border: 0;
}


  p.intro { margin-bottom: -20px; }

  .row,
  .site-header {
    margin-bottom: 0;
  }

.after-content {
  text-align: center;
  border-top: 1px solid transparent;
  
  span {
    display: block;
  }
}
/* If the browser window is smaller than 600px, make the columns stack on top of each other */
/* Ref: https://www.w3schools.com/howto/howto_css_equal_height.asp */
@media only screen and (max-width: 770px) {
  .container {
      padding: 15px;
  }
  .row {
      display: block;
  }
  h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.95%;
  }
  .two-thirds,
  .one-third {
      display: block;
      width: 100%;

      .inner {
          padding: 15px 0;
      }

      &::before, &::after {
          content: '';
          position: absolute;
          top: 0;
          width: 15px;
          height: 100%;
          background-color: inherit;
      }

      &::before { right: 100%; }
      &::after { left: 100%; }
  }

  .one-third.green {
      /* display: none; */
      /* overflow: hidden; */
  }

  .footer-area p {
      padding-top: 15px;
  }

  p.intro {
      margin-bottom: 5px;

      + p {
         margin-top: 0;
      }

      strong {
         font-size: 1.5rem;
      }
  }

}


$tokenPaddingTopBottom: 20px;
$tokenPaddingLeftRight: 15px;
$bannerMarginTop: 30px;
#token
{
width: 450px;
min-height: 600px;
margin: 0 auto;
padding: $tokenPaddingTopBottom $tokenPaddingLeftRight;

// font-family: 'Josefin Slab', serif;
font-family: 'Arvo', serif;

background-color: #fff;
// background-color: #FFF8DC;
outline: 3px solid #999;

h3  {
 // background-color: #37424b;
line-height: 4;
background-color: #FFF8DC;
// background-color: #ffe9a8;

  margin-top: -$tokenPaddingTopBottom;
  margin-bottom: -$bannerMarginTop;
}


.banner {
  color: #ddd;
  background-color: #37424b;
  margin: $bannerMarginTop 0 $tokenPaddingLeftRight;
}

p {
  font-size: 1.6rem;
}

&> * {
  display: block;
  position: relative;
  word-wrap: break-word;

  &::before,
  &::after {
    content: '';
    display: inline-block;

    position: absolute;
    height: 100%;
    width: $tokenPaddingLeftRight;
    top: 0;

    background-color: inherit;
  }

  &::before {
    left: -$tokenPaddingLeftRight;
  }

  &::after {
    right: -$tokenPaddingLeftRight;
  }
}
}
// -----------------
/**
 * @file
 * Utility classes to hide elements in different ways.
 */

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be collapsible details that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen readers.
 *
 * Used for information required for screen reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user.
 * "!important" is used to prevent unintentional overrides.
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

/**
 * The .focusable class extends the .visually-hidden class to allow
 * the element to be focusable when navigated to via the keyboard.
 */
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
}

/**
 * Hide visually and from screen readers, but maintain layout.
 */
.invisible {
  visibility: hidden;
}

// ------------------


.fa {
  &-github,
  &-instagram,
  &-linkedin {
      &::before {
        padding: 7.5px;
        border: 1px solid;
        border-radius: 100%;
        color: white;
        background: rebeccapurple;
      }
  }
}
