html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #2A633E;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1.6rem;
  line-height: 1.65;
  color: #FFAAEC;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  letter-spacing: -0.065rem;
}

p, dl {
  display: inline-block;
  margin: 0;
}
p {
  margin-bottom: 1rem;
  
  header section & {
    display: block;
  }
}
a {
  text-decoration: none;
  color: #FFB13D;
  padding-bottom: 3px;
 box-shadow:  0px -10px 0px 0px inset rgba(#2C2721, 0.5);

  &:hover {
    color: #eaeaea;
  }
}

ul,ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dd {
  margin-left: 15px;
  font-style: italic;
  font-size: 1.4rem;
}
dt {
  font-weight: bold;
}

h1,h2 {
  display: inline-block;
  margin: 0;
}
header, main, footer {
  padding: 30px 0 30px;
}


header {
  // position: relative;
  padding-bottom: 0;
  ul {
    padding: 1.5rem 0 1rem;
  }
  section {
    background-color: #FFB13D;
    color: #2C2721;
    padding: 1.5rem;
    display: none;
  }
  
  nav {
    position: absolute;
    top: 0;
    right: 15px;
  }
}

main {
  flex: 1 0 auto;
}

footer {
  background-color: #1F4A2E;
  color: #eaeaea;
  flex: 1;
}

#logo,
.intro {
  color: #FFAAEC;
}

.intro {
  font-size: 2rem;
  
  em {
    font-size: 75%;
  }
}
.contact {
  // background-color: #FFB13D;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  
  h2 {
    flex-basis: 25%;
    &::after {
      content: ':';
    }
  }
  ul {
    // flex: 1 0 auto;
    padding-top: 7.5px;
  }
  
  li {
    display: inline-block;
    margin-right: 15px;
    
    &:last-child {
      margin-right: 0;
    }
  }

}
.inner {
  margin: 0 auto;
  padding: 0 15px;
  min-width: 320px;
  width: 100%;
  position: relative;
  
  header section & {
    padding: 0;
  }
}

@media only screen and (min-width: 480px) {
  .inner {
    width: 75%;
    padding-left: 0;
    padding-right: 0;
  }

  header nav {
    right: 0;
  }
}
@media only screen and (min-width: 640px) {
  .intro {
    // font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .inner {
    width: 50%;
    max-width: 640px;
  }
}
