 <div class="inner">
    
  <section class="intro">
    He who has a why to live can bear almost any how.
That which does not kill us makes us stronger.
To live is to suffer, to survive is to find some meaning in the suffering.
  </section>
  <section class="contact">
    <h2>Contact</h2>
    <ul>
      <li>
        <a href="https://uk.linkedin.com/in/ichongiric" class="contact-link">Linkedin</a>
      </li>
       <li>
        <a href="javascript:void(0)" class="contact-link">Instagram</a>
      </li>
    </ul>
  </section>
  </div>
